//FONT COLORS
$hitam: rgb(22, 22, 22); //heading
$charcoal: #8f8d8d; //description
$mantle: #575252;

//BACKGROUND COLORS
$dark-grey: #898989;
$burnt: #c4c4c4; //desktop background
$slate: #dbd6d6; //content background + footer
$smoke: #e3dddd; //navigation
$grey: #ebe7e7;
$stone: #b9b6b6;
$silver: #efefef;
$platinum: #949494;
$check: #858585;
$pearl: white;
$grass: #008d28;
$lime: #9fffba;
$cerulean: #8fb1bb;
$blue-green: #009b92;
$ocean: #3475ff;
$cherry: #ff0000;
$ruby: #f44336;
$salmon: #ffbbbb;
$sunshine: #ff9432;
$wood: burlywood;

$desktop: 1200px;
$tablet: 1000px;
$mini: 700px;
$mobile: 500px;
$small: 400px;
$very-small: 350px;
