.footer {
    .trademark-container {
        padding: 16px;
        @include down($mini) {
            text-align: center;
            padding: 16px;
        }
        h5, span {
            margin-bottom: 4px;
        }
    }
}