.out-of-office-message-container {
    position: fixed;
    top: 130px;
    width: calc(70% - 8px);
    background: indianred;
    margin-left: 4px;
    margin-right: 4px;
    @include down($tablet) {
        width: calc(90% - 8px);
    }
    @include down($mini) {
        top: 65px;
        width: calc(100% - 8px);
    }
    .close-btn {
        position: absolute;
        right: 10px;
        top: 10px;
        color: $pearl;
        background: transparent;
        border: none;
        outline: none;
    }
    p {
        padding: 20px;
        color: $pearl;
        font-size: 20px;
    }
}
