.Toastify__toast-container--bottom-center {
    transform: translate(-50%, 0);
    bottom: 0;
    position: absolute; 
    left: 50%;
    .Toastify__toast {
        &.salmon {
            background: $salmon;
        }
        &.lime {
            background: $lime;
        }
        .Toastify__toast-body {
            display: flex;
            justify-content: center;
            font-size: 16px;
            text-align: center;
        }
        .Toastify__close-button {
            font-size: 16px;
        }
    }
}