.menu-item-page {
    width: 100%;
    .placeholder {
        height: 80px;
        opacity: 0.3;
        background: $wood;
        @include down($mini) {
            height: 65px;
        }
    }
    .menu-item-name-container {
        background: $pearl;
        position: relative;
        margin-top: -5px;
        .item-chevron-arrow {
            transform: rotate(180deg) translate(0, 50%);
            height: 30px;
            width: 14px;
            position: absolute;
            left: 20px;
            top: 50%;
            @include down($mini) {
                height: 24px;
                width: 15px;
                left: 12px;
            }
            @include down($mobile) {
                height: 20px;
                width: 12px;
                left: 8px;
            }
        }
        .menu-item-name {
            padding: 20px;
            padding-left: 60px;
            font-size: 16px;
            @include down($mini) {
                font-size: 12px;
                padding-left: 40px;
            }
            @include down($mobile) {
                padding-left: 32px;
            }
        }
        .eta-container {
            padding-right: 20px;
            width: 235px;
            @include down($mini) {
                padding-right: 12px;
                width: 225px;
            }
            @include down($mobile) {
                width: 120px;
            }
            .range {
                font-size: 12px;
                font-style: italic;
                text-align: right;
                @include down($mobile) {
                    font-size: 10px;
                }
            }
        }
    }
    @import "./Selections";
    .special-instructions-container {
        padding-left: 24px;
        padding-right: 24px;
        margin-bottom: 16px;
        @include down($mini) {
            padding-left: 16px;
            padding-right: 16px;
        }
        .special-instructions-text {
            margin-bottom: 8px;
            font-size: 16px;
            @include down($mobile) {
                font-size: 14px;
            }
        }
        .special-instructions {
            min-width: 100%;
            max-width: 100%;
            min-height: 150px;
            max-height: 150px;
            padding: 8px;
            outline: none;
            font-size: 16px;
            @include down($mobile) {
                font-size: 14px;
            }
        }
    }
    .quantity-container {
        padding-left: 24px;
        padding-right: 24px;
        margin-bottom: 24px;
        @include down($mini) {
            padding-left: 16px;
            padding-right: 16px;
            margin-bottom: 32px;
        }
        .quantity-text {
            font-size: 16px;
            margin-bottom: 8px;
            @include down($mobile) {
                font-size: 14px;
            }
        }
        .qty-btn-container {
            @include down($mobile) {
                justify-content: space-between;
            }
            button {
                padding: 16px 100px;
                border: none;
                outline: none;
                border-radius: 50px;
                @include down($mini) {
                    padding: 14px 65px;
                }
                @include down($small) {
                    padding: 12px 40px;
                }
                &.decrement-btn {
                    background: $cherry;
                    &.transparent {
                        mix-blend-mode: lighten;
                    }
                }
                &.increment-btn {
                    background: $grass;
                }
            }
            .qty-display {
                padding: 12px 10px;
                background: $pearl;
                box-shadow: inset 0px 0px 1px 2px $burnt;
                width: 50px;
                text-align: center;
                @include up($mobile) {
                    padding: 12px 16px;
                    margin-left: 24px;
                    margin-right: 24px;
                }
            }
        }
    }
    .add-to-cart-button {
        background: #ff9432;
        color: $pearl;
        border: none;
        outline: none;
        padding: 12px;
        width: 100%;
        font-size: 40px;
        @include down($mini) {
            font-size: 32px;
        }
        @include down($mobile) {
            font-size: 24px;
        }
    }
}
