.menu-page {
    width: 100%;
    @include up($tablet) {
        &::-webkit-scrollbar {
            width: 6px;
        }
        &::-webkit-scrollbar-thumb {
            background: $charcoal;
            border-radius: 10px;
        }
    }

    .hero {
        max-height: 200px;
        width: auto;
        @include up($mini) {
            margin-bottom: 16px;
        }
    }

    @include down($mini) {
        .menu {
            width: 100%;
            margin-top: -5px;
        }
    }

    .category-card {
        @include up($mini) {
            padding-left: 8px;
            margin-bottom: 32px;
        }
        @include down($mini) {
            &.collapsed-card {
                border-bottom: 1px solid #c8c8c8;
            }
        }
        .category-name-container {
            margin-bottom: 8px;
            background: none;
            width: 100%;
            border: none;
            outline: none;
            @include down($mini) {
                margin-bottom: 0;
                padding: 12px 12px 12px 8px;
                background: $charcoal;
            }
            .category-name {
                @include down($mini) {
                    color: $pearl;
                    letter-spacing: 1.25px;
                }
                @include down($mobile) {
                    font-size: 14px;
                }
            }
            .category-chevron-arrow {
                height: 14px;
                width: 14px;
                @include up($mini) {
                    display: none;
                }

                &.inverted {
                    transform: rotate(0deg);
                    animation: rotate 0.25s ease-in-out;
                }
                &.right-side-up {
                    transform: rotate(45deg);
                    animation: back 0.25s ease-in-out;
                }
                @keyframes rotate {
                    0% {
                        transform: rotate(0deg);
                    }
                    100% {
                        transform: rotate(45deg);
                    }
                }
                @keyframes back {
                    0% {
                        transform: rotate(45deg);
                    }
                    100% {
                        transform: rotate(0deg);
                    }
                }
            }
        }
        .category-img-and-menu {
            width: 100%;
            .category-highlighted-img {
                width: auto;
                max-height: 275px;
                @include up($mini) {
                    margin-bottom: 4px;
                    width: 49%;
                }
            }
            .menu-item-card {
                position: relative;
                width: 49%;
                text-align: left;
                padding: 15px 8px;
                background: $pearl;
                border: none;
                outline: none;
                cursor: pointer;
                margin-bottom: 3px;
                h4 {
                    font-size: 14px;
                }
                @include down($mini) {
                    width: 100%;
                    margin-bottom: 1px;
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
                @include down($mobile) {
                    h4 {
                        font-size: 12px;
                    }
                }
                .menu-item-name {
                    @include down($mobile) {
                        font-size: 14px;
                    }
                }
                .menu-item-description {
                    padding-right: 50px;
                    font-size: 12px;
                }
                .item-chevron-arrow {
                    height: 18px;
                    width: 12px;
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    transform: translate(0, -50%);
                    @include down($mini) {
                        height: 15px;
                        width: 10px;
                    }
                }
            }
        }
    }

    .separating-line {
        width: 100%;
    }

    .preview-customer-page {
        margin-top: 24px;
        margin-bottom: 24px;
        background: $sunshine;
        color: $pearl;
        width: 40%;
        outline: none;
        padding: 10px 10px;
        border: none;
        margin-bottom: 24px;
        cursor: pointer;
        @include down($mini) {
            width: 90%;
            padding: 8px 10px;
        }
    }
}
