.selections-container {
    margin-top: 16px;
    .selection-container {
        padding-left: 24px;
        margin-bottom: 24px;
        @include down($mini) {
            padding-left: 16px;
        }
        @include down($mobile) {
            margin-bottom: 16px;
        }
        .selection-name {
            font-size: 16px;
            margin-bottom: 8px;
            @include down($mobile) {
                font-size: 14px;
            }
        }
        .selector-list {
            .ingredient-item {
                &.checkbox-type {
                    &:last-of-type {
                        span {
                            margin-bottom: 0;
                        }
                    }
                    input {
                        display: none;
                        outline: none;
                    }
                    input {
                        & + *::before {
                            content: "";
                            display: inline-block;
                            vertical-align: middle;
                            width: 20px;
                            height: 20px;
                            border: solid 1.5px $check;
                            margin-right: 10px;
                            box-sizing: border-box;
                            background: $pearl;
                            cursor: pointer;
                            @include down($mobile) {
                                width: 16px;
                                height: 16px;
                            }
                        }
                        &:checked + *::before {
                            content: "✓";
                            color: white;
                            text-align: center;
                            background: $ocean;
                            border-color: $ocean;
                        }
                    }
                    span {
                        font-size: 14px;
                        margin-bottom: 16px;
                        color: $mantle;
                        cursor: pointer;
                        text-transform: capitalize;
                        @include down($mobile) {
                            font-size: 12px;
                            margin-bottom: 12px;
                        }
                    }
                }
                &.radio-type {
                    margin-bottom: 16px;
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                    @include down($mobile) {
                        margin-bottom: 12px;
                    }
                    input {
                        height: 22px;
                        width: 22px;
                        margin-right: 10px;
                        border: 10px solid grey;
                        cursor: pointer;
                        @include down($mobile) {
                            width: 18px;
                            height: 18px;
                        }
                    }
                    label {
                        font-size: 14px;
                        color: $mantle;
                        cursor: pointer;
                        text-transform: capitalize;
                        @include down($mobile) {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}