.admin-menu-page {
    position: relative;
    .menu {
        width: 100%;
        margin-bottom: 16px;
        .category-card {
            &.extra-spacing {
                @include down($mini) {
                    border-bottom: 1.5px solid $charcoal;
                }
            }
            .category-name-container {
                @include up($mini) {
                    padding-right: 8px;
                }
            }
            .category-name {
                width: 90%;
                outline: none;
                border: none;
                background: transparent;
                @include down($mini) {
                    &::placeholder {
                        color: $pearl;
                        opacity: 50%;
                    }
                }
                @include down($mobile) {
                    font-size: 14px;
                }
            }
            @include up($mini) {
                padding-left: 0;
                .category-name {
                    padding-left: 8px;
                    font-size: 16px;
                }
            }
            .category-image {
                height: 135px;
                background-size: cover;
                background-repeat: no-repeat;
                width: 49%;
                min-height: 132px;
                position: relative;
                margin-bottom: 4px;
                @include down($tablet) {
                    height: 110px;
                }
                @include down($mini) {
                    width: 100%;
                    position: relative;
                    border: $stone 1px solid;
                    height: 205px;
                    margin-bottom: 0;
                }
                @include down($mobile) {
                    height: 150px;
                }
                .edit-pencil {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                }
            }
            .category-image-container {
                width: calc(100vw - 24px);
                margin-bottom: 12px;
                margin-top: 12px;
                background: $grey;
                @include up($mini) {
                    width: 49%;
                    margin-top: 0px;
                    margin-bottom: 2px;
                }
                @include down($mini) {
                    border: $stone 1px solid;
                }
                .image-label-container {
                    padding: 6px 8px 0;
                    h4 {
                        font-size: 16px;
                        @include down($mini) {
                            font-size: 14px;
                        }
                        @include down($mobile) {
                            font-size: 12px;
                        }
                    }
                }
                .item-image-input {
                    width: 100%;
                    padding: 8px;
                    border: none;
                    outline: none;
                    font-size: 14px;
                    background: transparent;
                    @include down($mini) {
                        font-size: 12px;
                    }
                    @include down($mobile) {
                        font-size: 10px;
                    }
                }
                .preview-btn {
                    height: 100%;
                    background: transparent;
                    border: none;
                    outline: none;
                }
            }
            .menu-item-container {
                width: 49%;
                @include down($mini) {
                    width: 100%;
                }
                .menu-item-card {
                    -webkit-tap-highlight-color: transparent;
                    width: 100%;
                    @include down($mini) {
                        &:last-of-type {
                            margin-bottom: 1px;
                        }
                    }
                    .toggle-and-menu-item-name-container {
                        min-width: 90%;
                    }
                    .menu-item-name-and-description {
                        width: 100%;
                        @include down($mini) {
                            width: 75%;
                        }
                        input.menu-item-name {
                            border: none;
                            outline: none;
                            width: 100%;
                            font-family: Roboto;
                            font-weight: 700;
                            font-size: 16px;
                            @include down($tablet) {
                                font-size: 12px;
                            }
                            @include down($mobile) {
                                font-size: 10px;
                            }
                        }
                    }
                    .menu-item-description {
                        padding-right: 0;
                        margin-top: 2px;
                        @include down($mini) {
                            width: 85%;
                        }
                    }
                    .category-chevron-arrow {
                        position: absolute;
                        right: 15px;
                        height: 10px;
                        width: 15px;
                        @include up($mini) {
                            display: none;
                        }
        
                        &.inverted {
                            transform: rotate(180deg);
                            animation: rotate 0.25s ease-in-out;
                        }
                        &.right-side-up {
                            transform: rotate(360deg);
                            animation: back 0.25s ease-in-out;
                        }
                        @keyframes rotate {
                            0% {
                                transform: rotate(0deg);
                            }
                            100% {
                                transform: rotate(180deg);
                            }
                        }
                        @keyframes back {
                            0% {
                                transform: rotate(180deg);
                            }
                            100% {
                                transform: rotate(360deg);
                            }
                        }
                    }
                }
                .item-image {
                    margin-top: 12px;
                    margin-bottom: 12px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: calc(100vw - 24px);
                    height: 150px;
                    position: relative;
                    border: $stone 1px solid;
                    .edit-pencil {
                        position: absolute;
                        right: 10px;
                        top: 5px;
                    }
                }
                .image-container {
                    width: calc(100vw - 24px);
                    margin-bottom: 12px;
                    margin-top: 12px;
                    border: $stone 1px solid;
                    background: $grey;
                    .image-label-container {
                        padding: 6px 8px 0;
                    }
                    .item-image-input {
                        width: 100%;
                        padding: 8px;
                        border: none;
                        outline: none;
                        font-size: 14px;
                        background: transparent;
                    }
                    .preview-btn {
                        height: 100%;
                        background: transparent;
                        border: none;
                        outline: none;
                    }
                }
                .description-container {
                    width: calc(100vw - 24px);
                    background: $grey;
                    padding: 8px;
                    border: $stone 1px solid;
                    margin-bottom: 12px;
                    .description-heading {
                        margin-bottom: 6px;
                        .description-text {
                            font-weight: 400;
                            font-size: 20px;
                            @include down($mini) {
                                font-size: 18px;
                            }
                            @include down($mobile) {
                                font-size: 16px;
                            }
                        }
                    }
                    .description-box {
                        width: 100%;
                        min-width: 100%;
                        max-width: 100%;
                        max-height: 40px;
                        min-height: 40px;
                        background: $grey;
                        border: none;
                        outline: none;
                        font-size: 14px;
                        line-height: 1.35;

                        @include down($mini) {
                            min-height: 65px;
                            max-height: 65px;
                        }
                        @include down($mobile) {
                            font-size: 12px;
                        }
                    }
                }
                @import './RadioToggle';
                @import './Selections';
            }
            .add-item-button {
                background: $sunshine;
                color: $pearl;
                border: none;
                outline: none;
                padding: 12px;
                font-size: 20px;
                @include down($mobile) {
                    font-size: 16px;
                }
                &.mobile {
                    width: 100%;
                    @include up($mini) {
                        display: none;
                    }
                }
                &.desktop {
                    margin-top: 12px;
                    @include down($mini) {
                        display: none;
                    }
                }
            }
        }
    }
    .add-category-group-button {
        background: $sunshine;
        color: $pearl;
        width: 90%;
        outline: none;
        padding: 8px 10px;
        border: none;
    }
    @import './MenuItemModal';
}