.menu-item-modal-container {
    height: 100vh;
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1;
    .modal-wrapper {
        position: absolute;
        height: 100%;
        width: 100%;
        background: $slate;
        opacity: 0.85;
        z-index: 2;
    }
    .menu-item-modal {
        margin-top: 150px;
        max-width: 70%;
        width: 100%;
        height: 400px;
        background: $pearl;
        z-index: 3;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        overflow-y: hidden;
        .menu-item-heading-container {
            padding: 10px 8px;
            background: $dark-grey;
            .menu-item-name {
                font-size: 16px;
                color: $pearl;
                background: transparent;
                border: none; 
                outline: none;
                width: 75%;
                text-transform: capitalize;
                &::placeholder {
                    color: $pearl;
                }
            }
            .close-menu-item-modal {
                background: transparent;
                border: none; 
                outline: none;
            }
        }
        .menu-item-body-container {
            overflow-y: scroll;
            height: 100%;
            -ms-overflow-style: none;
            padding-bottom: 50px;
            &::-webkit-scrollbar {
                display: none;
            }
            .description-container {
                margin-top: 16px;
                width: 65%;
                border: 1px solid $slate;
                padding: 6px;
                background: $grey;
                border: $stone 1px solid;
                .description-text {
                    margin-bottom: 4px;
                    font-size: 14px;
                }
                .description-box {
                    max-width: 100%;
                    min-width: 100%;
                    min-height: 54px;
                    max-height: 54px;
                    outline: none;
                    border: none;
                    background: transparent;
                }
            }
            @import './RadioToggle';
            @import './Selections';
            .selections-container {
                margin-top: 16px;
                width: 65%;
                margin-bottom: 0;
                .selection-container {
                    .selection-heading {
                        input.selection-name {
                            font-size: 16px;
                        }
                    }
                }
            }
            .add-selection-group-btn {
                margin-top: 12px;
                width: 65%;
            }
            @import './Range';
            .range-container {
                width: 65%;
                font-size: 14px;
            }
            .save-menu-item-btn {
                width: 65%;
                background: $sunshine;
                border: none;
                outline: none;
                padding: 6px 8px;
                font-size: 20px;
                color: $pearl;
            }
        }
    }
}