@import "./scss/_Global/_variables";
@import "./scss/_Global/_breakpoint";
@import "./scss/_Global/global";
@import "./scss/_Global/layout";
@import "./scss/_Global/Navigation";
@import "./scss/_Global/Loading";
@import "./scss/Customer/MenuPage";
@import "./scss/Customer/MenuItem";
@import "./scss/Admin/AdminMenu";
@import "./scss/Admin/StatusPage";
@import "./scss/_Global/Footer";
@import "./scss/_Global/Toast";
@import "./scss/Customer/Cart";
@import "./scss/_Global/OutOfOfficeMessage";
@import "./scss/Admin/Login";

.main {
    width: 100vw;
    height: 100vh;
    background: $burnt;
    overflow-y: scroll;
    padding-top: 50px;
    padding-bottom: 50px;
    &::-webkit-scrollbar {
        display: none;
    }
    &::-webkit-scrollbar-thumb {
        display: none;
    }
    @include down($mini) {
        padding-top: 0;
        padding-bottom: 0;
    }
}
