//FONT COLORS
$hitam: rgb(22, 22, 22); //heading
$charcoal: #8F8D8D; //description

//BACKGROUND COLORS
$burnt: #C4C4C4; //desktop background
$slate: #DBD6D6; //content background + footer
$smoke: #E3DDDD; //navigation
$grey: #EBE7E7;
$stone: #B9B6B6;
$pearl: white;
$grass: #008D28;

$desktop: 1200px;
$tablet: 1000px;
$mini: 700px;
$mobile: 500px;