.navigation {
    background: #8FB1BB;
    padding: 15px 25px;
    position: fixed;
    z-index: 1;
    width: 70%;

    &.transparent {
        background-color: $smoke;
        opacity: 0.65;
        h1 {
            color: $hitam;
        }
    }
    @include down($tablet) {
        width: 90%;
    }
    @include down($mini) {
        width: 100%;
        padding: 15px 20px;
    }

    h1 {
        color: $pearl;
        cursor: pointer;
    }
    .cart {
        cursor: pointer;
        color: $pearl;
        height: 26px;
        width: 24px;
        @include up($mini) {
            height: 40px;
            width: 32px;
        }
    }
}