.navigation {
    background: #8FB1BB;
    padding: 15px 25px;
    position: fixed;
    z-index: 1;
    width: 70%;

    &.transparent {
        background-color: $smoke;
        opacity: 0.65;
        h1 {
            color: $hitam;
        }
        .cart-container {
            .cart-num {
                opacity: 1;
            }
        }
    }
    @include down($tablet) {
        width: 90%;
    }
    @include down($mini) {
        width: 100%;
        padding: 15px 20px;
    }

    h1 {
        color: $pearl;
        cursor: pointer;
    }
    .cart-container {
        position: relative;
        .cart {
            cursor: pointer;
            color: $pearl;
            height: 26px;
            width: 24px;
            @include up($mini) {
                height: 40px;
                width: 32px;
            }
        }
        .cart-num {
            position: absolute;
            top: 5px;
            right: 0;
            transform: translate(30%, -30%);
            font-size: 8px;
            color: $pearl;
            background: $salmon;
            opacity: 65%;
            border-radius: 100%;
            padding: 3px 4px;
            text-align: center;
            @include down($mini) {
                top: 0;
            }
        }
    }
}